player-connection-mode=Listen
player-connection-guid=3464591441
player-connection-debug=0
player-connection-project-name=Sabon
player-connection-ip=10.70.171.107
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9c2e640b6bff4c7ba347bcb865745269
